<div class="wrapper">
  <!-- Timer Display -->
  <div class="timer">
    <h1>Temps restant: {{ minutes }} min {{ seconds }} sec</h1>
  </div>

  <form class="form-qcm-test" *ngIf="questions.length > 0" (ngSubmit)="onSubmit()">
    <h2 class="form-qcm-test-heading">Test d'Évaluation des Compétences</h2>

    <div class="question">
      <p>{{ currentQuestionIndex + 1 }}. {{ questions[currentQuestionIndex].text }}</p>
      <ul>
        <li *ngFor="let choice of questions[currentQuestionIndex]?.choices">
          <label>
            <input
              type="radio"
              name="currentQuestion"
              [(ngModel)]="selectedAnswer"
              [value]="choice"
              required
            >
            {{ choice }}
          </label>
        </li>
      </ul>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
      {{ currentQuestionIndex < questions.length - 1 ? 'Suivant' : 'Soumettre' }}
    </button>
  </form>
</div>
