<div class="overlay" *ngIf="test" (click)="closeDialog()"></div> <!-- Click to close the dialog -->

<div class="custom-dialog" *ngIf="test">
  <div class="dialog-header">
    <button class="close-button" (click)="closeDialog()">&times;</button>
  </div>

  <div *ngIf="data.imageUrl !== ''" class="text-center">
    <h2>Votre Badge</h2>
    <img [src]="data.imageUrl" alt="Badge" class="img-fluid" />

    <!-- Download Button -->
    <button class="download-button" (click)="downloadImage()">Télécharger le Badge</button>
  </div>

  <div *ngIf="data.imageUrl === ''" class="text-center">
    <h2>Vous n'avez pas de badge pour ce test</h2>
  </div>
</div>
