<div class="wrapper">
  <form class="form-reset-password">
    <h2 class="form-reset-password-heading">Réinitialiser le mot de passe</h2>

    <!-- New Password -->
    <input type="password" class="form-control" name="new-password" placeholder="Nouveau mot de passe" required autofocus />

    <!-- Confirm New Password -->
    <input type="password" class="form-control" name="confirm-new-password" placeholder="Confirmer le mot de passe" required />

    <!-- Submit Button -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser le mot de passe</button>

    <!-- Link to Login page -->
    <div class="reset-footer">
      <p>Vous vous souvenez de votre mot de passe ? <a [routerLink]="['/login']">Se connecter</a></p>
    </div>
  </form>
</div>
