<div class="wrapper">
  <form class="form-forgot-password">
    <h2 class="form-forgot-password-heading">Mot de passe oublié</h2>

    <!-- Email Input for password recovery -->
    <input type="email" class="form-control" name="email" placeholder="Adresse e-mail" required="" autofocus="" />

    <!-- Reset Password Button -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser le mot de passe</button>

    <!-- Back to login link -->
    <div class="back-to-login">
      <p>Retour à la <a [routerLink]="['/login']" id="backToLogin">connexion</a></p>
    </div>
  </form>
</div>
