<div class="test-page-container">
  <!-- Partie gauche : Header -->
  <div class="test-header-section">
    <div class="test-header">
      <img [src]="apiUrl+test.logo" alt="TestModel Logo" class="test-logo" />
      <h1 class="test-title">{{ test.title }}</h1>
    </div>
  </div>

  <!-- Partie droite : Détails du test -->
  <div class="test-details-section">
    <div class="test-body">
      <p class="test-description">{{ test.description }}</p>
      <p class="test-info">
        <i class="pi pi-list"></i> <strong>Nombre de questions :</strong> {{ test.numberOfQuestions }}
      </p>
      <p class="test-info">
        <i class="pi pi-clock"></i> <strong>Durée :</strong> {{ test.duration }} minutes
      </p>
    </div>

    <!-- Séparateur et bouton -->
    <div class="test-footer" *ngIf="test.numberOfQuestions>0">
      <div class="separator"></div>
      <button pButton type="button" label="Démarrer le test" class="start-test-btn" (click)="startTest()"></button>
    </div>
  </div>
</div>
