<div class="transactions"  style="width:100%; height:100%">
  <div class="title">Last few transactions</div>
  <div class="transaction-wrapper">
    <div class="transaction" *ngFor="let transaction of transactions">
      <div class="image">
        <img [src]="transaction.imgSrc" alt="" />
      </div>
      <div class="title">{{ transaction.title }}</div>
      <div class="shop-location">
      </div>
      <div
        class="status"
        [ngClass]="{

        }"
      >
        {{ transaction.date }}
      </div>
    </div>
  </div>
</div>
