<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faFlask"></fa-icon>
    </div>
    <div class="value">
      <div class="top">185</div>
      <div class="bottom">Tests</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">Users</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faComments"></fa-icon>
    </div>
    <div class="value">
      <div class="top">124</div>
      <div class="bottom">Feddback</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faFlask"></fa-icon>
    </div>
    <div class="value">
      <div class="top">133</div>
      <div class="bottom">Badges</div>
    </div>
  </div>

</div>
